@tailwind base;

@tailwind components;

@tailwind utilities;

.poppins {
	font-family: 'Poppins', sans-serif;
}

.ss-pro {
	font-family: 'Source Serif Pro', serif;
}

/* .cms-editor p {
	margin-bottom: 2rem;
	line-height: 1.625;
} */

li > .sub-menu {
	display: none;
}
li:hover > .sub-menu {
	display: block;
}